<%- include('./shared/_header'); -%>

<!-- Body -->

<div class="container wrap my-5 ">
    <div class="row">
        <div class="col col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search For Students" aria-label="Search For Students" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
        <div class="col col-md-8">
            <div class="text-end"><%- include('./_add_new'); -%></div>
        </div>
    </div>
</div>

<!-- Class Info -->
<div class="container mb-4"> <%- include('./info'); -%> </div>

<!-- Main Students Table -->
<div class="container table-wrap overflow-auto">
  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">
              <div class="form-check">
                <input class="form-check-input checkAllRow" type="checkbox">
              </div>
            </th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% if (students) { %>
            <% students.forEach(function(student,index){ %>
              <tr  data-studentid = "<%= student.roll_number %>" >
                <td><%= index + 1 %></td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input checkRow" type="checkbox">
                  </div>
                </td>
                <td><%= student.firstname %></td>
                <td><%= student.lastname %></td>
                <td><%= student.roll_number %></td>
                <td><%= student.email %></td>
                <td><%= student.phonenumber %></td>
              </tr>
            <% }); %>
          <% } else {  %>
            <tr>
              <td colspan="7" class="text-center">
                <b>No data found</b>
              </td>
            </tr>
          <% } %>

        </tbody>
    </table>
  </div>
</div>
<%- include('./edit.ejs'); -%>
<%- include('./shared/_footer'); -%>